[base_config]
data_backends = redis_notes, local_notes
plugins = hashtags, lunch, todo, datehandler, strings, arrows, grawlixes, rage, wiki

[logging]
location = /tmp/ashaw_notes.log
max_bytes = 1e6
backup_count = 3

[redis_notes]
endpoint = REDIS_INSTANCE
port = 13859
db = 0
password = PASSWORD
note_source = my_pc

[local_notes]
location = /notes
create_backup = 1
